<link href="/assets/styles.css" rel="stylesheet" type="text/css" />
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/profile/don">Profile</a></li>
  </ul>
</nav>
