<html>

<head>
    <title>ToDo App</title>
    <script src="https://code.jquery.com/jquery-1.10.1.min.js" integrity="sha256-SDf34fFWX/ZnUozXXEH0AeB+Ip3hvRsjLwp6QNTEb3k=" crossorigin="anonymous"></script>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <script src="/assets/todo-list.js"></script>
</head>

<body>
    <div id="todo-table">
        <form>
            <input type="text" name="item" placeholder="Add a to-do..." required />
            <button type="submit">Add Item</button>
        </form>
        <ul>
            <% for(var i=0; i < todos.length; i++) { %>
                <li><%= todos[i].item %></li>
                <% }; %>
        </ul>
    </div>
</body>

</html>
