<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Thank you for getting in touch.</h1>
    <p>
      You contacted <%= data.who %>.
    </p>
  </body>
</html>
